[Unit]
Description=consul-template
Documentation=https://github.com/hashicorp/consul-template/
Wants=basic.target
After=network.target

[Service]
User={{ consul_template_user }}
Group={{ consul_template_group }}
ExecStart={{ consul_template_binary_home }}/{{ consul_template_binary }} -config={{ consul_template_home }}
SuccessExitStatus=12
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
KillMode=process
Restart=on-failure
RestartSec=42
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
