{{ ansible_managed | comment }}

{# NGINX OSS stub status abstraction #}
server {
    listen {{ nginx_config_status_port | default('8080') }};
    location /nginx_status {
        stub_status on;
    }
{% if nginx_config_status_allow is defined %}
{% for address in nginx_config_status_allow %}
    allow {{ address }};
{% endfor %}
{% endif %}
{% if nginx_config_status_deny is defined %}
{% for address in nginx_config_status_deny%}
    deny {{ address }};
{% endfor %}
{% endif %}
}
