{% if servicename is defined %}
upstream {{ servicename }} {
  {{'{{'}}- range service "{{ servicename }}" {{'}}'}}
    server {{'{{'}} .Address {{'}}'}};
  {{'{{'}}- end {{'}}'}}
  }
{% else %}
upstream {{ servicename_default }} {
  {{'{{'}}- range service "{{ servicename_default }}" {{'}}'}}
    server {{'{{'}} .Address {{'}}'}};
  {{'{{'}}- end {{'}}'}}
  }
{% endif %}

server {
  listen 80;
  location / {
{% if servicename is defined %}
     proxy_pass http://{{ servicename }};
{% else %}
     proxy_pass http://{{ servicename_default }};
{% endif %}
 }
}